.connect {
  background-color: $nav-button-background-2;
  font-family: 'Konnect', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: $nav-button-color-2;
  border-radius: 100px;
  padding: 10.5px 46px 12.5px 47px;
  width: 148px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
  border: none;
  outline: none;

  &--active {
    background-color: $nav-button-color-2;
    padding: 3px 3px 3px 22px;
    color: $nav-button-background-2;
    display: flex;
    gap: 23px;
    align-items: center;
  }

  &__icon-wrap {
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
